<div>
    {{#with person}}
<div>
    <h1>{{name}}</h1>

    <br>

    <div>Age: {{age}}</div>

    <br>

    <div>Gender: {{gender}}</div>
</div>    

    <br>

    {{#with address}}
    <div>
        <address>{{street}}, {{city}}, {{state}}, {{zip}}, {{country}}</address>
    </div>
    {{/with}}

    <br>

    <hr>

    <h2>Education</h2>
    <ul>
        <li>
            {{#each education}}
            <div>{{degree}}</div>
            <br>
            <div>{{major}}</div>
            <br>
            <div>{{university}} ({{graduationYear}})</div>
            <br>
            {{/each}}
        </li>
    </ul>

    <br>
    <hr>

    <h2>Work</h2>
    <ul>
        <li>
            {{#each workExperience}}
    <h3>{{company}}</h3>
    <div>{{title}}</div>
    <br>
    <div>
        <date>{{startDate}} - {{endDate}}</date>
    </div>

    <br>

    <ul>
        {{#each responsibilities}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>

    <br>

    <div>
        <date>{{year_founded}}</date>
    </div>

    <br>

    <div>{{industry}}</div>

    <br>
    <hr>

    <div>
        <h4>Employees:</h4>
    </div>

    <br>

    <ul>
        <li>
        {{#each employees}}
        {{name}}, 
        {{position}} 
        {{department}}

         <h5>Projects:</h5>
    <ul>
        <li>
            {{#each projects}}
            {{name}}
            {{description}}
            ({{status}}) <br />

            <br>

        <b>Teams</b> <br />

        <br>

    <ul>
        <li>
        {{#each teams}}
        {{team_name}} <br />

        <br>

        <b><em>Team leader</em></b> <br />

        <br>

        {{#with team_leader}}
        {{name}} <br />
        {{title}} <br />
        {{email}} <br />
        {{/with}}
        <br>

        <b><em>Team members</em></b> <br />
        <br>
        <ul>
            {{#each team_members}}
            <li>
                {{name}} <br />
                {{title}} <br />
                {{email}} <br />
            </li>

            <br>

            <b><u>Skills:</u></b>
            <br>
            <br>
        <ul>
            {{#each skills}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <br>
            <b><u>Projects:</u></b>
            <br>
            <br>  
            <ul>
                {{#each projects}}
                <li>
                    {{name}}
                    "{{description}}"
                </li>

                 <br>
            <b><u>Technologies:</u></b>
            <br>
            <br>
            <ul>
                {{#each technologies}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
                {{/each}}
            </ul>
            {{/each}}
        </ul>

        <br>

        <b><em>Team members</em></b> <br />
        <br>
        <ul>
            {{#each team_members}}
            <li>
                {{name}} <br />
                {{title}} <br />
            </li>
            {{/each}}
        </ul>

        {{/each}} <br />

        {{/each}}
        </li>
    </ul>
        {{/each}}
        </li>
    </ul>
    {{/each}}
        </li>
    </ul>

    {{/with}}

</div>