<main>
<p class="h1 text-center">{{page_header.title}}</p>
<h6 class="text-muted text-center">{{page_header.description}}</h6>

<br>

<div class="card">
    <div class="card-body">
<h1 class="display-6 text-end">{{section.about_us.title_list.main}}</h1>
<div class="h2 text-end">{{section.about_us.title_list.sub}}</div>
<br>
<button type="button" 
    class="btn btn-outline-info">{{section.about_us.button.text}}
    </button>
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
 <h1 class="display-5 text-muted">{{section.advantage.title}}</h1>
 <div class="card">
    <div class="card-body">
 <h1 class="display-4 text-muted">{{section.advantage.efficiency.title}}</h1>
 <div class="h6">{{section.advantage.efficiency.sub_title}}</div>
 <br>
 <h6 class="text-muted">{{section.advantage.efficiency.description}}</h6>
 <br>
      <button type="button" 
    class="btn btn-outline-warning">{{section.advantage.efficiency.button}}
    </button>
    </div>
 </div>
 
 <br>

 <div class="card">
    <div class="card-body">
    <h1 class="display-4 text-center text-muted">{{section.advantage.innovation.title}}</h1>
    <div class="h6 text-center">{{section.advantage.innovation.sub_title}}</div>
    <br>
    <h6 class="text-muted text-center">{{section.advantage.innovation.description}}</h6>
    <br>
        <button type="button" 
    class="btn btn-outline-warning">{{section.advantage.innovation.button}}
    </button>
    </div>
 </div>

 <br>

 <div class="card">
    <div class="card-body">
      <h1 class="display-4 text-end text-muted">{{section.advantage.collaboration.title}}</h1>
      <div class="h6 text-end">{{section.advantage.collaboration.sub_title}}</div>
       <h6 class="text-muted text-end">{{section.advantage.collaboration.description}}</h6>
       <br>
       <button type="button" 
    class="btn btn-outline-warning">{{section.advantage.collaboration.button}}
    </button>
    </div>
 </div>
    </div>
</div>

<br>
<div class="card">
    <div class="card-body">
<h1 class="display-5">{{section.agreement.title}}</h1>

<div class="card">
    <div class="card-body">
 <div class="h5">{{section.agreement.info.sub_title}}</div>
<br>
 <div class="card">
    <div class="card-body">      
<h6 class="text-muted">{{section.agreement.info.detail.text}}</h6>
<br>
<button type="button" 
    class="btn btn-success">{{section.agreement.info.detail.button}}
    </button>

    </div>
 </div>
    </div>
</div>
    </div>
</div>


</main>