{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

  <head>
    <title>
      {{title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>
    <header>
        <div>
            <h1>{{name.firstname}} {{name.lastname}}</h1>
        </div>
        <div>
            <b>{{position}}</b>
        </div>
        <br>
        <div>
            <em>{{salary.text}} {{salary.value}}</em>
        </div>
        <br>
        <hr>
    </header>

     <nav>
        <a href="/skills">Skills</a>
        <a href="/summary">Summary</a>
    </nav>
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}
  </body>

  {{#with social}}
        <a href="{{email.href}}">{{email.text}}</a> /
        <a href={{phone.href}}>{{phone.text}}</a> /
        <a href="https://www.linkedin.com/in/dmytro-test" target="_blank">LinkedIn</a>
        {{/with}}

</html>